<p-toast position="top-center"></p-toast>

<div class="p-grid p-jc-center">

  <div class="p-col-2 p-d-flex p-jc-around">
    <button (click)="showViewAddPet()" label="AddPet" pButton type="button"></button>
    <button (click)="showViewfindPet()" label="FindPet" pButton type="button"></button>
  </div>
</div>
<div>
  <div *ngIf="addPetView">
    <div class="p-formgroup-inline p-jc-center p-mt-4">
      <div class="p-field">
        <label for="add-pet">Add Pet: </label>
        <input [(ngModel)]="petName" id="add-pet" pInputText placeholder="add pet" type="text"/>
      </div>
      <div class="p-field">
        <label for="pet-breed">Choose breed: </label>
        <p-dropdown [(ngModel)]="breed" [options]="breeds" inputId="pet-breed" optionLabel="name"
                    placeholder="--Please select--"></p-dropdown>
      </div>
      <div class="p-col-12 p-grid p-jc-center">
        <div class="p-col-3 p-d-flex">
          <h3 style="display:block">Description: </h3>
        </div>
        <div class="p-col-12 p-d-flex p-jc-center p-ml-6">
          <textarea [(ngModel)]="petDescription" [cols]="53" [rows]="5" pInputTextarea></textarea>
        </div>
        <div class="p-col-12 p-d-flex p-jc-center">
          <button (click)="savePet()" label="Save pet" pButton type="button"></button>
        </div>
      </div>
    </div>
  </div>

  <div *ngIf="findPetView">
    <div class="p-fluid p-d-flex p-flex-column p-jc-center p-mt-3">
      <div class="p-field p-col-3 p-mx-auto">
        <label for="pet-breed">Pet species:</label>
        <p-dropdown [(ngModel)]="breed" [options]="breeds" inputId="pet-breed" optionLabel="name"
                    placeholder="--Please select--"></p-dropdown>
      </div>
      <div class="p-field p-col-3 p-mx-auto">
        <label for="animal-species">Pet name</label>
        <input [(ngModel)]="petName" id="animal-species" pInputText type="text">
      </div>
      <div class="p-col-3 p-mx-auto">
        <button (click)="findPet()" label="Find pet" pButton type="button"></button>
      </div>
    </div>
  </div>

  <div *ngIf="result.length">
    <hr>
    <div class="p-d-flex p-jc-center">

      <p-table [value]="result">
        <ng-template let-item pTemplate="header">
          <tr>
            <th>#</th>
            <th>Name</th>
            <th>Species</th>
            <th>Description</th>
            <th>Record date</th>
          </tr>
        </ng-template>
        <ng-template let-idx="rowIndex" let-item pTemplate="body">
          <tr>
            <td>{{idx}}</td>
            <td [ngStyle]="highlightName()">{{item.name}}</td>
            <td [ngStyle]="highlightBreed()">{{item.breed}}</td>
            <td>{{item.description}}</td>
            <td>{{item.recordDate.date | date:'short'}}</td>
          </tr>
        </ng-template>
      </p-table>
    </div>
  </div>
</div>
